/* ---------- GLOBAL STUFF ---------- */


/* -- COLORS -- */
:root {
    --colorBlack: #000000;
    --colorAccent: #eadecf;
    --colorWhite: #ffffff;
}


/* -- FONTS -- */
@font-face {
    font-family: Zapfino;
    src: url(./font/Zapfino.ttf);
}

/* -- DISPLAY -- */
.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexWrap {
    flex-wrap: wrap;
}

.alignCenter {
    justify-content: center;
    align-items: center;
}


/* -- PADDING -- */
.p1 {
    padding: 5px;
}

.p1Sides {
    padding: 0px 5px 0px 5px;
}

.p2 {
    padding: 10px;
}

.p2Sides {
    padding: 0px 10px 0px 10px;
}

.p3 {
    padding: 15px;
}

.p4 {
    padding: 20px;
}

/* -- MARGIN -- */
.m1 {
    margin: 5px;
}

.m2 {
    margin: 10px;
}

.m3 {
    margin: 15px;
}

.m4 {
    margin: 20px;
}

/* -- BORDER RADIUS */
.br1 {
    border-radius: 5px;
}

.br2 {
    border-radius: 10px;
}

.br3 {
    border-radius: 15px;
}

.br4 {
    border-radius: 20px;
}

/* -- font size -- */
.fs1 {
    font-size: 32px;
}

.fs2 {
    font-size: 24px;
}

.fs3 {
    font-size: 16px; /* standart */
}

.fs3a {
    font-size: 14px;
}

.fs4 {
    font-size: 12px;
}

.fs5 {
    font-size: 8px;
}

/* -- headings -- */
h2 {
    text-transform: uppercase;
    letter-spacing: 8px;
}

/* ---------- SPECIAL THINGS ---------- */
/* -- desktop container -- */
.container {
    max-width: 600px;
}

/* -- "full size Link" -- */
.fsL {
    height: 100%;
    width: 100%;
}

/* -- fit Images in Boxes lul -- */
.imgFit {
    max-width: 100%;
    max-height: 100%;
}

/* -- align text as block -- */
.textBlock {
    text-align: justify;
}

p {
    margin: 0;
}

/* -- spacing cause not enough elements -- */
.flexBeta {
    justify-content: space-around;
}

.fullWidth {
    width: 100%;
}


/* ---------- ELEMENT SPECIFIC ---------- */
body {
    padding: 0px;
    margin: 0px;

    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    width: 100vw;
    max-width: 100%;

    background-color: var(--colorWhite);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    overflow-x: hidden;
}

.section {
    width: 100%;
    height: auto;
}


/* -- heading -- */
.heading img {
    width: 90vw;
    max-width: 400px;
}


/* -- kontakt -- */
.contact {
}

.socialBox {
    margin-top: 5px;
    margin-bottom: 5px;

    background-color: var(--colorAccent);
}

.socialLink {
    width: 50px;
    height: 50px;
    background-color: var(--colorWhite);
}

/* -- text -- */
.text {
    background-color: var(--colorAccent);
}

/* -- touch -- */
.touch h2 {
    margin-bottom: 0px;
}

.touch p {
    font-family: Zapfino;
    color: var(--colorAccent);
    font-size: 20px;
    transform: translateY(-14px);
}

/* -- footer -- */
.footer p {
    margin-top: 12px;
    margin-bottom: 0px;
}