@font-face {
    font-family: DancingScript;
    src: url('./font/DancingScript.ttf');
}

:root {
    --colorA: #000000;
    --colorB: #eadecf;
    --colorC: #ffffff;
}

body {
    width: 100vw;
    height: auto;

    margin: 0;

    background-color: var(--colorC);
    color: var(--colorA);

    overflow-x: hidden;
}

.container {
    max-width: 1200px;
}

section {
    margin-bottom: 20px;

    max-width: 100%;
    width: 100%;
    height: auto;

    flex-wrap: wrap;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spacingOne {
    margin: 20px 20px 0 20px;
    padding-bottom: 20px;
}

.spacingTwo {
    margin: 20px 10px 20px 10px;
}

.maxWidth {
    max-width: 350px;
}

.maxWidth2 {
    max-width: 400px;
}

/* headings */
h2 {
    text-transform: uppercase;
    letter-spacing: 8px;
}

h3 {
    margin: 10px;
}

h4 {
    margin: 10px;
    font-weight: lighter;
}

h5 {
    color: var(--colorB);
    font-family: 'DancingScript';
    margin: 0;
}

p {
    text-align: justify;
}

/* Head */
.headSection {
    margin-top: 20px;
}

.headImage {
    max-height: 80px;
}

/* Top Gallery */
.topGallery {
    flex-wrap: nowrap;
    width: 100%;
}

.topGallery img {
    border-bottom: 10px solid var(--colorB);
    max-width: 30%;
    padding-bottom: 10px;
}

/* About */
.about {
    flex-direction: row-reverse;
}

.about h5 {
    text-align: end;
    transform: translateY(-49px);
    font-size: 80px;
}

/* bottom Gallery */
.bottomGallery {
    background-color: var(--colorB);
    color: var(--colorA);
    flex-wrap: nowrap;
}

.bottomGallery img {
    max-width: 20%;
    max-height: 200px;
}

/* Contact */
.socials {
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: var(--colorB);
}

.socialBox {
    max-height: 40px;
    max-width: 40px;

    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;

    display: flex;

    background-color: var(--colorC);
    border-radius: 10px;
}

.socialBox a {
    max-width: 100%;
    max-height: 100%;
}

.socialBox img {
    max-width: 100%;
    max-height: 100%;
}

.contact p {
    margin: 0;
}

.contact h2 {
    margin-bottom: 0;
}

.contact h5 {
    font-size: 30px;
    margin: 0;
    transform: translateY(-18px) translateX(10px);
}

.fullWidth {
    max-width: 100%;
}

.padBot0 {
    padding-bottom: 0;
}

/* footer */
.footer {
    width: 100%;
    font-family:Arial, Helvetica, sans-serif
}

.footer p {
    font-size: small;
    text-transform: uppercase;
}