/* ---------- GLOBAL STUFF ---------- */


/* -- COLORS -- */
:root {
    --colorBlack: #000000;
    --colorAccent: #eadecf;
    --colorWhite: #ffffff;
}


/* -- FONTS -- */
@font-face {
    font-family: Zapfino;
    src: url(./font/Zapfino.ttf);
}

/* -- DISPLAY -- */
.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexWrap {
    flex-wrap: wrap;
}

.alignCenter {
    justify-content: center;
    align-items: center;
}

.alignStart {
    justify-content: flex-start;
    align-items: flex-start;
}

.spaceAround {
    justify-content: space-around;
}

.spaceBetween {
    justify-content: space-between;
}


/* -- PADDING -- */
.p1 {
    padding: 5px;
}

.p1Sides {
    padding: 0px 5px 0px 5px;
}

.p1ToBo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p2 {
    padding: 10px;
}

.p2Sides {
    padding-left: 10px;
    padding-right: 10px;
}

.p2ToBo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p3 {
    padding: 15px;
}

.p3Sides {
    padding-left: 15px;
    padding-right: 15px;
}

.p3ToBo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p4 {
    padding: 20px;
}

.p4ToBo {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p5 {
    padding: 30px;
}

.p5ToBo {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p5Sides {
    padding-left: 30px;
    padding-right: 30px;
}

.p6 {
    padding: 45px;
}

/* -- MARGIN -- */
.m1 {
    margin: 5px;
}

.m1ToBo {
    margin-top: 5px;
    margin-bottom: 5px;
}

.m2 {
    margin: 10px;
}

.m3 {
    margin: 15px;
}

.m4 {
    margin: 20px;
}

.m4To {
    margin-top: 20px;
}

.m4Bo {
    margin-bottom: 20px;
}

.m4ToBo {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* -- BORDER RADIUS */
.br1 {
    border-radius: 5px;
}

.br2 {
    border-radius: 10px;
}

.br3 {
    border-radius: 15px;
}

.br4 {
    border-radius: 20px;
}

/* -- font size -- */
.fs1 {
    font-size: 32px;
}

.fs2 {
    font-size: 24px;
}

.fs2a {
    font-size: 20px;
}

.fs3 {
    font-size: 16px; /* standart */
}

.fs3a {
    font-size: 14px;
}

.fs4 {
    font-size: 12px;
}

.fs5 {
    font-size: 8px;
}

/* -- headings -- */
h2 {
    text-transform: uppercase;
    letter-spacing: 8px;
}

.container {
    width: 90%;
    max-width: 768px;
}

/* -- maxWidth -- */
.maxw100 {

}

.maxw200 {
    max-width: 200px;
}

.maxw300 {
    max-width: 300px;
}

.maxw400 {
    max-width: 400px;
}

.maxw500 {
    max-width: 500px;
}

/* -- maxHeight -- */
.maxh100 {
    max-height: 100px;
}

.maxh200 {
    max-height: 200px;
}

.maxh300 {
    max-height: 300px;
}

.maxh400 {
    max-height: 400px;
}

.maxh500 {
    max-height: 500px;
}

.maxh600 {
    max-height: 600px;
}

.maxh700 {
    max-height: 700px;
}

.maxh800 {
    max-height: 800px;
}

/* ---------- SPECIAL THINGS ---------- */
/* -- desktop container -- */
a {
    color: inherit;
}

/* -- "full size Link" -- */
.fsL {
    height: 100%;
    width: 100%;
}

/* -- fit Images in Boxes lul -- */
.imgFit {
    max-width: 100%;
    max-height: 100%;
}

/* -- texty things -- */
.factBox {
    background-color: var(--colorAccent);
}

.textBox {
    background-color: var(--colorWhite);
}

.textBlock {
    text-align: justify;
}

p {
    margin: 0;
}

.fullWidth {
    width: 100%;
}

.shad1 {
    box-shadow: 5px 5px 5px lightgrey;
}

.handWritten {
    font-family: Zapfino;
    color: var(--colorAccent);
    font-weight: 900;
}


/* ---------- ELEMENT SPECIFIC ---------- */
body {
    padding: 0px;
    margin: 0px;

    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    max-width: 100%;

    background-color: var(--colorWhite);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    overflow-x: hidden;
}

html {
    height: -webkit-fill-available;
}

.section {
    width: 100%;
    height: auto;
}


/* -- heading -- */
.heading {
    min-height: 10vh;
}

.heading img {
    width: 50vw;
    max-width: 300px;
}

/* -- navBar -- */

/* -- contact -- */
.contact {
    margin-bottom: 0;
}

/* -- social -- */
.socialBox {
    background-color: var(--colorAccent);
}

.socialLink {
    width: 50px;
    height: 50px;
    background-color: var(--colorWhite);
}

/* -- touch -- */
.touch h2 {
    margin-bottom: 0px;
}

.touch p {
    
}

/* -- about -- */
.about {
    flex-flow: wrap-reverse;
    min-height: 80vh;
}

/* -- imprint -- */
.imprint {
    background-color: var(--colorAccent);
}

/* -- footer -- */
.footer {
    padding-bottom: 30px;
}

.footer p {
    margin-top: 12px;
    margin-bottom: 0px;
}